<%- include("components/header") -%>


    <div class="all-categories text-center" id="votingLocations">
        <hr class="half-hr"> <h2 class="category-heading text-success" style="font-weight: 900;">Find Your Polling Station</h2> <hr class="half-hr">
        <p class="text-success mt-3">Locate Your Nearest Voting Center in <%=state%></p>
    </div>
    

    <div class="container px-5">
        <div class="row">
            <% for(let i=0; i<locations.length; i++){%>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                    <div class="card" style="width: 18rem;">
                    <div class="card-body text-center">
                        <i class="fa-solid fa-location-dot text-success fa-3x my-4"></i>
                        <hr class="greenHorizontalLine">
                        <h5 class="card-title"><%=locations[i].name%></h5>
                        <p class="card-text"><%=locations[i].address%></p>
                    </div>
                    </div>
                </div>
                <%}%>
        </div>
    </div>


    <div class="all-categories text-center">
        <hr class="half-hr"> <h2 class="category-heading text-success" style="font-weight: 900;">Election News and Updates</h2> <hr class="half-hr">
        <p class="text-success mt-3">Stay Informed About the Latest Voting Developments in Your Area</p>
    </div>
    

    <div class="container px-5">
        <div class="row">
            <% for(let i=0; i<news.length; i++){%>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                    <div class="card" style="width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title text-success"><%=news[i].headline%></h5>
                        <hr class="greenHorizontalLine">
                        <p class="card-text"><%=news[i].details.substring(0, 50)%>...</p>
                        <button class="btn btn-success py-2 px-3" data-bs-toggle="modal" data-bs-target="#exampleModal<%=i%>">More details</button>
                    </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade mt-5" id="exampleModal<%=i%>" tabindex="-1" aria-labelledby="exampleModalLabel<%=i%>" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title text-success" id="exampleModalLabel<%=i%>"><%=news[i].headline%></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="card-text"><%=news[i].details%></p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
                <%}%>
        </div>
    </div>


        


    <div class="container my-5 text-center about-service-green">
        <h2>Your Voice, Your Vote: Shape Tomorrow, Today!</h2>
        <p class="text-success">
        Welcome to VoiceVibes: Empower Your Ballot, where your voice becomes the catalyst for change. In the symphony of democracy, every vote is a note that creates the melody of our shared future. Embrace your civic power, stand up for your values, and make a lasting impact. Together, let's transform the promise of a better tomorrow into a reality. Register now and let your vote echo in the halls of history. The future is in your hands – make it count!
        </p>
    </div>

<%- include("components/footer") -%>